* {
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

ul, li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: #ddcecd;
    
}

.header {
    display: flex;
    justify-content: center;
    background-color: #19647E;
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    background-color: #28AFB0;
    color: white;
    padding: 2px;
    margin: 10px;
}

.bod-wrapper {
    display: flex;
    justify-content: space-around;
}

.player-side, .cpu-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-move, #cpu-move {
    display: flex;
    color: white;
    background: red;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.score {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}


#match-hist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: #19647E;
    height: 30px;
    margin-top: auto;
}


  /* ---------- */

/* .player-moves {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-moves img {
    max-width: 40%;
    height: auto;
}


.player-moves.hidden img {
    display: none;
}

.player-movesimg {
    width: 100px;
    height: 100px;
    margin-top: 1em;
    box-shadow: 0.25em 0.25em #EEE;
}

  ---------- */

#player-move .show {
    display: flex;
    width: 75%;
}

#player-move .hidden{
    display: none;
}
