* {
    margin: 0;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif; 
}

ul, li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ddcecd;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #19647E;
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    background-color: #28AFB0;
    color: white;
    padding: 2px;
    margin: 10px;
    border-radius: 8px;
}

.bod-wrapper {
    display: flex;
    justify-content: space-around;
}

.player-side, .cpu-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-move, #cpu-move {
    display: flex;
    color: black;
    background: white;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
}

.score {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.player-score, .cpu-score-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#match-hist {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#match-hist p {
    font-size: 24px;
    font-weight: 800;
    text-decoration: underline;
}

.footer {
    background-color: #19647E;
    height: 30px;
    margin-top: auto;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
